<div class="container tab-content" id="nav-tabContent" style="border: none;">
    <h2>{{labelAccion}} usuario</h2>
    <form [formGroup]="crearUsuario">
      <div class="row">
        <div class="form-group col-md-6">
          <label for="name"  >Nombre *</label>
          <input id="name" [ngClass]="crearUsuario.controls['name'].invalid ?  'ng-invalid ng-dirty campo-input':'campo-input'" type="text"
                 formControlName="name" placeholder="nombre" pInputText >
        </div>
        <div class="form-group col-md-6">
          <label for="code"  >Codigo institucional *</label>
          <input id="code" [ngClass]="crearUsuario.controls['code'].invalid ?  'ng-invalid ng-dirty campo-input':'campo-input'" type="text"
                 formControlName="code" placeholder="Codigo institucional" pInputText >
        </div>
      </div>
<!--      <div class="row">-->
<!--        <div class="form-group col-md-6">-->
<!--          <label for="name"  >Nombre *</label>-->
<!--          <input id="name" [ngClass]="crearUsuario.controls['name'].invalid ?  'ng-invalid ng-dirty campo-input':'campo-input'" type="text"-->
<!--                 formControlName="name" placeholder="nombre completo" pInputText >-->
<!--        </div>-->
<!--        <div class="form-group col-md-6">-->
<!--          <label for="code"  >Codigo institucional *</label>-->
<!--          <input id="code" [ngClass]="crearUsuario.controls['code'].invalid ?  'ng-invalid ng-dirty campo-input':'campo-input'" type="text"-->
<!--                 formControlName="code" placeholder="Codigo institucional" pInputText >-->
<!--        </div>-->
<!--      </div>-->
      <div class="row">
        <div class="form-group col-md-6">
          <label for="phoneNumber"  >Telefono de contacto *</label>
          <input id="phoneNumber" [ngClass]="crearUsuario.controls['phoneNumber'].invalid ?  'ng-invalid ng-dirty campo-input':'campo-input'" type="text"
                 formControlName="phoneNumber" placeholder="Telefono de contacto" pInputText >
        </div>
        <div class="form-group col-md-6">
          <label for="code"  >Correo institucional *</label>
          <input id="code" [ngClass]="crearUsuario.controls['email'].invalid ?  'ng-invalid ng-dirty campo-input':'campo-input'" type="text"
                 formControlName="email" placeholder="Correo institucional" pInputText >
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-12">
          <label for="phoneNumber">Tipo</label>
          <select placeholder="Seleccione un tipo"
                      [ngClass]="crearUsuario.controls['type'].invalid ?
                      'ng-invalid ng-dirty campo-input':'campo-input'"
                      optionLabel="nameRole"
                     formControlName="type" >
            <option selected>Estudiante</option>
            <option >Profesor</option>
            <option >Administrativo</option>
          </select>
        </div>
      </div>
      <br>
      <p-table [value]="vehiculos">
        <ng-template pTemplate="header">
          <tr>
            <th>Codigo</th>
            <th>Marca</th>
            <th>Placa</th>
            <th>Color</th>
            <th>Fecha de creacion</th>
            <th>Operacion</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-vehiculo>
          <tr>
            <td>{{vehiculo.codeUser}}</td>
            <td>{{vehiculo.make}}</td>
            <td>{{vehiculo.placa}}</td>
            <td>{{vehiculo.color}}</td>
            <td>{{vehiculo.createAt}}</td>
            <td class="align-content-center">
              <button pButton type="button" class="ui-button-secondary mx-1" icon="pi pi-trash"></button>
              <button pButton type="button" class="ui-button-secondary mx-1" icon="pi pi-search-plus" (click)="vehiculoSeleccionado = vehiculo; visible = true"></button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="footer">
        </ng-template>
      </p-table>
      <br>
      <div class=" mx-auto text-end">
        <button pButton class="ui-button-secondary mx-2"  label="Cancelar" (click)="updateEvent.emit(true);" ></button>
        <button pButton class="btn btn-round btn-middle mx-2"  label="Finalizar" (click)="setUsuario()" [disabled]="crearUsuario.invalid" submit></button>
      </div>
    </form>
</div>
<app-consultar-vehiculo [vehiculo]="vehiculoSeleccionado" *ngIf="visible" ></app-consultar-vehiculo>
