<h1>Bienvenido a la plataforma</h1>
<br>
<div class="container">
  <p-panel header="Indicador por parqueaderos" [toggleable]="true">
    <br>
<!--    <div class="row">-->
<!--        <div class="col-md-6">-->
<!--          <h4>Indicador por vehiculos</h4>-->
<!--          <p-chart type="pie" [data]="dataVehiculos"></p-chart>-->
<!--        </div>-->
<!--    </div>-->
    <div class="row">
      <div *ngFor="let parking of dataParkings; let i = index " class="col-md-6" [ngClass]="i == dataParkings.length-1 && (dataParkings.length) %2 == 1? 'justify-content-around container': ''">
        <h6>{{parking.name}}</h6>
        <p-chart type="pie" [data]="parking"></p-chart>
      </div>
<!--      <div class="col-md-6">-->
<!--        <h6>Indicador parqueadero motos</h6>-->
<!--        <p-chart type="pie" [data]="dataUsuarios"></p-chart>-->
<!--      </div>-->
    </div>
    <br>
<!--    <div class="row">-->
<!--      <div class="col-md-6 justify-content-around container" >-->
<!--        <h6>Indicador parqueadero bicicletas</h6>-->
<!--        <p-chart type="pie" [data]="dataVehiculos"></p-chart>-->
<!--      </div>-->
<!--    </div>-->
  </p-panel>
</div>

