<h1>Aqui va el home de inicio al logueo</h1>
<!--  <div class="form-row">-->
<!--    <div class="form-group col-md-6">-->
<!--      <div style="margin-bottom: 10px;" class="container categoria-home">-->
<!--        <img class="" src=".\assets\administrar_gestor.png" alt="" srcset="">-->
<!--        <p class="ml-1 titulo-categoria">Administrar de usarios</p>-->
<!--      </div>-->
<!--      &lt;!&ndash;         <br *ngIf="hayPermiso('pagAdmonGestor')">&ndash;&gt;-->
<!--      <div style="margin-bottom: 10px;" class="container categoria-home">-->
<!--        <img class="" src=".\assets\categoria-u-admin.png" alt="" srcset="">-->
<!--        <p class="ml-1 titulo-categoria">Gestionar usuario administrador</p>-->
<!--      </div>-->
<!--      &lt;!&ndash;         <br *ngIf="hayPermiso('pagUsuarioAdminGestor')">&ndash;&gt;-->
<!--      <div style="margin-bottom: 10px;" class="container categoria-home">-->
<!--        <img class="" src=".\assets\categoria-usuario-entrega.png" alt="" srcset="">-->
<!--        <p class="ml-1 titulo-categoria">Gestionar usuario entrega</p>-->
<!--      </div>-->
<!--      &lt;!&ndash;          <br *ngIf="hayPermiso('pagUsuarioAdminGestor')">&ndash;&gt;-->
<!--      <div style="margin-bottom: 10px;"  class="container categoria-home ">-->
<!--        <img class="" src=".\assets\categoria-entrega.png" alt="" srcset="">-->
<!--        <p class="ml-1 titulo-categoria">Reportes</p>-->
<!--      </div>-->
<!--      &lt;!&ndash;         <br *ngIf="hayPermiso('pagUsuarioEntrega')">&ndash;&gt;-->
<!--      <div  class="container categoria-home ">-->
<!--        <img class="" src=".\assets\categoria-entrega.png" alt="" srcset="">-->
<!--        <p class="ml-1 titulo-categoria">Entregas</p>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
